body {
	background-image: url("../images/B5.jpg");
	background-size:cover;
	background-repeat: repeat;
}

h2{
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    margin-left: 50px;
    position: absolute;
    font: Helvetica;
    font-weight: lighter;
}

/* Big Starts Here */

#big{
	height: 475px;
	width: 800px;

	float: left;
	margin-left: 50px;
	margin-top: 85px;


	background-image: url("../images/pic07.jpg");
	background-size:cover;
	background-repeat: repeat;

	border-style: inset;
   	border-width: 5px;
   	border-color: #cccccc;
   	border-radius: 5px;
}

#bigP{
	font-size: 40px;
	color: #BBD6CD;
	margin-left: 10px;
}

#big:hover{
	transform: scale(1.007);
}



/* Big Ends Here */
/* Tall Starts Here */

#tall{
	height: 475px;
	width: 295px;

	float: right;
	position: absolute;
	margin-left: 865px;
	margin-top: 85px;

	background-image: url("../images/pic05.jpg");
	background-size:cover;
	background-repeat: repeat;

	color: #BBD6CD;

	box-shadow: 0 0px 0px 0 #BFBFBF;

	border-style: inset;
   	border-width: 5px;
   	border-color: #cccccc;
   	border-radius: 5px;
}

#tallP{
	font-size: 24px;
	margin-top: 10px;
	margin-left: 95px;
}

#tall:hover{
	transform: scale(1.007);
}

/* Tall Ends Here */

p{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
}

a.link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
